.utility-page-video{
    width: 85%;
    height: fit-content;
    overflow: hidden;
    border: 10px solid #D19CFB;
    border-radius: 7%;
}
.title-asset{
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 700;
    font-size: calc(30px + 0.390625vw);
    line-height: 45px;
    letter-spacing: 0.04em;
    color: #8649E8;
}
.details-container{
    color: white;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    font-family: 'Clash Display Light';
}
/* ................ */
.faq-cat-content {
    margin-top: 25px;
}

.faq-cat-tabs li a {
    padding: 15px 10px 14px 10px;
    border: 0.5px solid #fff;
    color: #777777;
    margin-right: 20px;
}

.nav-tabs li a:focus,
.panel-heading a:focus {
    outline: none;
}

.panel-heading a,
.panel-heading a:hover,
.panel-heading a:focus {
    text-decoration: none;
    color: #777777;
}

/* .faq-cat-content .panel-heading:hover {
    background-color: #efefef;
} */

/* .active-faq {
    border-left: 5px solid #888888;
} */
.panel-faq .panel-heading .panel-title,label,
.panel-faq .panel-heading .panel-title span {
    font-size: 15px;
    font-weight: normal;
    font-family: "Clash Display Medium";
    
}
.tab-accordion{
    background: #191717;
    border-radius: 1.5rem;
    padding: 5%;
}
.nav-tabs>li.active a{
    background-color: #8633DA;
    border: none;
    color: white;
    border-radius: 10% 10% 0px 0px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    background-color: #8633DA;
    border: none;
    color: white;
    border-radius: 10% 10% 0px 0px;
}


.panel-default>.panel-heading{
    background-color: #191717 !important;
    border: none;
    margin-top: 5%;
    border-bottom: .5px solid #eee;
}

.panel-default>.panel-heading:hover{
    background-color: #191717 !important;
}
.panel-collapse{
    background-color: #191717 !important;
}
.panel-group .panel{
    border:none
}
.button-group-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4%;
    align-items: center;
    align-content: center;
}
.button-group-1 button{
    background: linear-gradient(180deg, #732F7E 0%, rgba(55, 109, 215, 0.4) 100%, #000000 100%);
    border-radius: 0.5rem;
    /* font-weight: 700; */
    font-size: 0.7rem;
    line-height: 10px;
    text-align: center;
    justify-items: center;
    padding: 0.5rem 1.25rem;
    color: #FFFFFF;
    font-family: "Druk Wide Medium";
    letter-spacing: 0.03rem;
}
.button-group-disabled{
    background: gray !important;
    border-radius: 0.5rem;
    /* font-weight: 700; */
    font-size: 0.7rem;
    line-height: 10px;
    text-align: center;
    justify-items: center;
    padding: 0.5rem 1.25rem;
    color: #FFFFFF;
    font-family: "Druk Wide Medium";
    letter-spacing: 0.03rem;
}
.button-group-1 a{
    background: linear-gradient(180deg, #732F7E 0%, rgba(55, 109, 215, 0.4) 100%, #000000 100%);
    border-radius: 10%;
    font-weight: 700;
    font-size: 10.50227px;
    line-height: 10px;
    text-align: center;
    justify-items: center;
    padding: 1.5% 1%;
    color: #FFFFFF;

}
.panel-group .panel-heading+.panel-collapse>.panel-body, 
.panel-group .panel-heading+.panel-collapse>.list-group{
    border:none;
}
.utility{
    /* margin: 5%; */
}
.utility-social-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(33, 30, 30, 0.51) 0%, rgba(18, 18, 18, 0.24) 100%);
    border-radius: 22.5px;

}
.form-virtual-fitting{
    align-items: center;
}
.form-virtual-fitting form{
    display: flex;
    flex-direction: column;
}
.form-virtual-fitting form input,
#floatingTextarea2{
    background-color: transparent;
    border: 1px solid #5d4e69;
    color: #777777;
}
.form-virtual-fitting form input:focus,
#floatingTextarea2:focus{
    background-color: transparent;
    border: 1px solid #5d4e69;
    color: #777777;
}
#floatingTextarea2{
    margin: 0 !important;
}
.snapvideo{
    width: 50%;
    height:auto;
    padding: 5% 0;
    border-radius: 5%;
    overflow: hidden;
}
.snapimg{
    width:20%;
    position:relative;
    margin-top:-100%;
    margin-left: -10%;

}
.modal-button{
    cursor: pointer;
    color: white;
}
.form-label{
    color: "#978097" !important; 
}
input:focus {
      background: transparent;
      outline: none;;
  }

.form-check-input{
    background-color: transparent;
    outline: .5px solid #777777;
}
.form-check-input:checked{
    background-color: #8649E8;
    outline: none !important;
    border: none;
}
.form-check-input:focus-within{
    background-color: transparent;
    outline: none !important;;
}
.btn.disabled {
    pointer-events: auto;
}
/* input[type=file]{
visibility: hidden !important;
} */
input[type="file"]::file-selector-button {
    background-color: #777777;
  }
input[type="file"]::file-selector-button:hover{
    background-color: #777777;
  }
input[type="file"]:focus-within{
outline: none !important;;
}

.modal-content{
    background-color:#0c0c0c !important
}
.modal-title button{
    color: white;
}

a[aria-expanded=true] i.glyphicon:before {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
}

/* a[aria-expanded="false"].collapsed i.glyphicon:before {
    transform: rotate(90deg);
} */
.collapsed i.glyphicon{
    transform: rotate(180deg);
}
.qr-img{
    height: 100px;
    width: 100px;
}