
.section2-overall{
    position: relative;
    margin: 0 !important;
    background: radial-gradient(50% 50% at 50% 50%, #912666 0%, rgba(132, 69, 161, 0) 100%);
    mix-blend-mode: lighten;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.section2-container-background{
    position: absolute;
    width: 100%;
    /* bottom: 3%; */
    height: 100% !important;
}
.swiper-container-overall{
    position: relative;
    height: auto !important;
    width: 100vw !important;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    margin-top: 3rem;
}
.carousel-background{
    position: absolute;
}
.swiper-container-overall .swiper-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    width: 1000px;
}
.swiper-container-overall .slider-container{
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    height: 100% !important;
}
.slider-container .swiper{
    height: 100% !important;
}
.swiper-container-overall .swiper-image{
    width: 100%;
    height: 100%;
}
.swiper-slide{
    -webkit-backface-visibility: hidden; 
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translateZ(0);
}
.swiper-image-video{
    display: none;
    height: 100%;
    width: 100%;
}
.swiper-slide-prev .swiper-image-video{
    display: none;
}
.swiper-slide-next .swiper-image-video{
    display: none;
}
.swiper-slide-prev .swiper-image-dummy{
    display:block;
}
.swiper-slide-next.swiper-image-dummy{
    display: block;
}
.whitelist-swiper .swiper-wrapper .swiper-slide {
    position: relative;
    background-position: center;
    background-size: cover;
    width: 220px !important;
    height: 220px !important;
    overflow: hidden;
    border: 5px solid #D19CFB;
    border-radius: 30px;
}


.info h5{
    margin: 0;
    padding-top: 15px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.685);
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.info span{
    font-size: 15px;
    color: red;
    font-weight: bold;
}
.swiper-slide .info button{
    display:none
}
.swiper-slide-active .swiper-image-video{
    display: block;
}
.swiper-slide-active .swiper-image-dummy{
    display: none;
}

.swiper-slide-active .info button{
    display:block;
    z-index: 100;
}
.slide-button{
position:absolute;
width: 165px;
height: 50px;
bottom:-25px;
right:30% !important;
background: linear-gradient(180deg, #D981DB 0%, rgba(55, 109, 215, 0.4) 100%);
border-radius: 22.3736px;
font-family: 'Clash Display';
font-style: normal;
font-weight: 500;
font-size: 24.2539px;
line-height: 29px;
display: flex;
align-items: center;
justify-content:center;
text-align:center;
color: #FFFFFF;
z-index: 100;
}

/* // Mobile devices (400px and up) */
@media (min-width: 400px) { 
    .whitelist-swiper .swiper-wrapper .swiper-slide {
        width: 260px !important;
        height: 260px !important;
        border: 5px solid #D19CFB;
        border-radius: 30px;
    }
    .swiper-container-overall{
        margin-top: 4rem;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 560px) { 
    .whitelist-swiper .swiper-wrapper .swiper-slide {
        width: 350px !important;
        height: 350px !important;
        border: 5px solid #D19CFB;
        border-radius: 30px;
    }
    .swiper-container-overall{
        margin-top: 4rem;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .whitelist-swiper .swiper-wrapper .swiper-slide {
        width: 450px !important;
        height: 450px !important;
        border: 5px solid #D19CFB;
        border-radius: 30px;
    }
    .swiper-container-overall{
        margin-top: 5rem;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .whitelist-swiper .swiper-wrapper .swiper-slide {
        width: 450px !important;
        height: 450px !important;
        border: 7px solid #D19CFB;
        border-radius: 30px;
    }
    .swiper-container-overall{
        margin-top: 6rem;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .whitelist-swiper .swiper-wrapper .swiper-slide {
        width: 470px !important;
        height: 470px !important;
        border: 8px solid #D19CFB;
        border-radius: 30px;
    }
    .swiper-container-overall{
        margin-top: 6.5rem;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .whitelist-swiper .swiper-wrapper .swiper-slide {
        width: 440px !important;
        height: 440px !important;
        border: 9px solid #D19CFB;
        border-radius: 40px;
    }
    .swiper-container-overall{
        margin-top: 7rem;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1800px) { 
    .whitelist-swiper .swiper-wrapper .swiper-slide {
        width: 470px !important;
        height: 470px !important;
        border: 10px solid #D19CFB;
        border-radius: 45px;
    }
    .swiper-container-overall{
        margin-top: 8rem;
    }
}