
.section2-overall{
    position: relative;
    margin: 0 !important;
    background: radial-gradient(50% 50% at 50% 50%, #912666 0%, rgba(132, 69, 161, 0) 100%);
    mix-blend-mode: lighten;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.section2-container-background{
    position: absolute;
    width: 100%;
    /* bottom: 3%; */
    height: 100% !important;
}
.swiper-container-overall{
position: relative;
height: 100vh;
width: 100vw !important;
display: flex;
align-items: center;
justify-content: center;
overflow-x: hidden;
}
.carousel-background{
    position: absolute;
}
.swiper-container-overall .swiper-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    width: 1000px;
}
.swiper-container-overall .slider-container{
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    height: 100% !important;
}
.slider-container .swiper{
    height: 100% !important;
}
.swiper-container-overall .swiper-image{
    width: 100%;
    height: 100%;
}
.swiper-slide{
    -webkit-backface-visibility: hidden; 
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translateZ(0);
}

.whitelist-swiper .swiper-wrapper .swiper-slide {
    position: relative;
    background-position: center;
    background-size: cover;
    width: 450px !important;
    height: 450px !important;
    overflow: hidden;
    border: 5px solid #D19CFB;
    border-radius: 30px;

    /* background-color: linear-gradient(180deg, #CE9DF4 0%, rgba(214, 180, 220, 0.65) 100%);; */
}
.whitelist-swiper .swiper-wrapper .swiper-slide-active {
    /* border: 8px solid #D19CFB; */
}


.info h5{
    margin: 0;
    padding-top: 15px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.685);
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.info span{
    font-size: 15px;
    color: red;
    font-weight: bold;
}
.swiper-slide .info button{
    display:none
}

.swiper-slide-active .info button{
    display:block;
    z-index: 100;
}
.slide-button{
position:absolute;
width: 165px;
height: 50px;
bottom:-25px;
right:30% !important;
background: linear-gradient(180deg, #D981DB 0%, rgba(55, 109, 215, 0.4) 100%);
border-radius: 22.3736px;
font-family: 'Clash Display';
font-style: normal;
font-weight: 500;
font-size: 24.2539px;
line-height: 29px;
display: flex;
align-items: center;
justify-content:center;
text-align:center;
color: #FFFFFF;
z-index: 100;
}
@media only screen and (min-width: 605px){
    .swiper-container-overall{
        margin-top: 5%;
        height: 65vh !important;
    }
    .whitelist-swiper .swiper-wrapper .swiper-slide {
        border: 8px solid #D19CFB;

    }
}
@media only screen and (min-width: 1200px){
    /* .swiper-container-overall{
        height: 55vh !important;
    } */
}
@media only screen and (max-width: 605px){
    .whitelist-swiper .swiper-wrapper .swiper-slide {
        position: relative;
        background-position: center;
        background-size: cover;
        width: 250px !important;
        height: 250px !important;
    }

    .slide-button{
        width: 100px !important;
        height: 40px;
        font-size: 20px !important;
        border-radius: 15px !important;
    }
    .swiper-slide-active{
        /* border-radius: 20px !important; */
        /* border: 2px solid #D19CFB; */
        /* box-shadow:1px #D19CFB !important; */
    }
    .carousel-background{
        width: 50vw !important;
        height: 50vh !important;
    }
    .section2-container-background{
        display: none;
    }
    .swiper-container-overall{
        height: 60vh;
    }
}