
.section2-overall{
    position: relative;
    margin: 0 !important;
}
.section2-container-background{
    position: absolute;
    width: 100%;
    bottom: 3%;
    height: 100% !important;
}
.swiper-container-overall{
position: relative;
height: 70vh;
width: 100vw !important;
display: flex;
align-items: center;
justify-content: center;
overflow-x: hidden;
}
.carousel-background{
    position: absolute;
}
.swiper-container-overall .swiper-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
}
.swiper-container-overall .slider-container{
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    height: 100% !important;
}
.slider-container .swiper{
    height: 100% !important;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* justify-items: center; */
    /* align-content: center; */
}
.swiper-container-overall .swiper-image{
    width: 100%;
    height: 100%;
}

.whitelist-swiper .swiper-wrapper .swiper-slide {
    position: relative;
    background-position: center;
    background-size: cover;
    width: 400px !important;
    height: 400px !important;
}

.info h5{
    margin: 0;
    padding-top: 15px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.685);
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.info span{
    font-size: 15px;
    color: red;
    font-weight: bold;
}
.swiper-slide .info button{
    display:none
}
.swiper-slide-active {
    /* border-radius: 60.4262px !important; */
    border: 2px solid #D19CFB;
    /* box-shadow:4px 4px #D19CFB; */
}
.swiper-slide-active .info button{
    display:block;
    z-index: 100;
}
.slide-button{
position:absolute;
width: 165px;
height: 50px;
bottom:-25px;
right:30% !important;
background: linear-gradient(180deg, #D981DB 0%, rgba(55, 109, 215, 0.4) 100%);
border-radius: 22.3736px;
font-family: 'Clash Display';
font-style: normal;
font-weight: 500;
font-size: 24.2539px;
line-height: 29px;
display: flex;
align-items: center;
justify-content:center;
text-align:center;
color: #FFFFFF;
z-index: 100;
}
@media only screen and (max-width: 605px){
    .whitelist-swiper .swiper-wrapper .swiper-slide {
        position: relative;
        background-position: center;
        background-size: cover;
        width: 250px !important;
        height: 250px !important;
    }
    .slide-button{
        width: 100px !important;
        height: 40px;
        font-size: 20px !important;
        border-radius: 15px !important;
    }
    .swiper-slide-active{
        /* border-radius: 20px !important; */
        border: 2px solid #D19CFB;
        /* box-shadow:1px #D19CFB !important; */
    }
    .carousel-background{
        width: 50vw !important;
        height: 50vh !important;
    }
    .section2-container-background{
        display: none;
    }
    .swiper-container-overall{
        height: 60vh;
    }
}