@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-product {
  /* background: conic-gradient(from 151deg at 7.93% 50.94%, #48297A 202deg, #000000 229deg, #000000 301deg, #48297A 360deg)no-repeat !important; */
  background-color: black;
}

.buy-now {
  background-color: #8633DA;
  padding: 0.5rem;
  border-radius: 10px;
  width: 100%;
  font-family: 'CLASH DISPLAY MEDIUM' !important;
  font-size: 1rem;
}

.product-cost {
  font-size: 1rem;
  font-family: 'CLASH DISPLAY BOLD';
  color: #F9F9F9;
}

.product-creator-img {
  background: linear-gradient(180deg, #B780D6 0%, #8481C8 100%);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  margin-right: 0.8rem;
}

.product-creator-info-title {
  font-size: 1rem;
}

.product-creator-info-name {
  font-size: 1.5rem;
}
.panel-title {
  font-family: "Clash Display Bold" !important
}


/* Media Queries */

/* // Mobile devices (400px and up) */
@media (min-width: 375px) { 
  .product-cost {
    font-size: 1.1rem;
  }
  .buy-now {
    font-size: 1rem;
  }
}

@media (min-width: 450px) {
  .product-cost {
    font-size: 1.25rem;
  }
  .buy-now {
    font-size: 1.15rem;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 560px) { 
  .product-cost {
    font-size: 1.5rem;
  }
  .buy-now {
    font-size: 1.5rem;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .header-container {
    height: 6rem;
  }
  .products-container {
    padding-top: 8rem;
  }
  .header-logo {
    margin-left: 2.7rem;
    width: 10rem;
  }
  .product-content {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .header-button {
    margin-right: 3rem;
    font-size: 0.85rem;
    padding: 0.4rem 1.5rem;
  }
  .register-text {
    right: 7.5rem !important;
  }
  .prod-cost-details {
    text-align: right;
  }
  .product-creator-img {
    width: 2rem;
    height: 2rem;
  }
  .buy-now {
    width: auto;
  }
  .extra {
    text-align: right;
  }
  .product-cost {
    font-size: 1rem;
  }
  .buy-now {
    font-size: 0.8rem;
    padding: 0.5rem 1.15rem;
  }
  .product-creator-info-name {
    font-size: 1rem;
  }
  .product-content-subtitle {
    font-size: 0.85rem;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .header-container {
    height: 7rem;
  }
  .products-container {
    padding-top: 9rem;
  }
  .header-logo {
    margin-left: 3.2rem;
    width: 12rem;
  }
  .header-button {
    margin-right: 4rem;
    font-size: 0.9rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.7rem;
  }
  .register-text {
    right: 8rem !important;
  }
  .product-content {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .product-creator-img {
    width: 2.1rem;
    height: 2.1rem;
  }
  .product-cost {
    font-size: 1.25rem;
  }
  .buy-now {
    font-size: 1rem;
    padding: 0.5rem 1.35rem;
  }
  .product-creator-info-name {
    font-size: 1.2rem;
  }
  .product-content-subtitle {
    font-size: 0.95rem;
  }
  .product-creator-img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1.2rem;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .header-logo {
    margin-left: 3.7rem;
    width: 13.5rem;
  }
  .header-button {
    margin-right: 4rem;
    font-size: 0.95rem;
    padding: 0.6rem 1.6rem;
    border-radius: 0.8rem;
  }
  .register-text {
    right: 8.5rem !important;
  }
  .product-content {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .product-creator-img {
    width: 2.2rem;
    height: 2.2rem;
  }
  .product-cost {
    font-size: 1.5rem;
  }
  .buy-now {
    font-size: 1.25rem;
    padding: 0.5rem 1.6rem;
  }
  .product-creator-info-name {
    font-size: 1.25rem;
  }
  .product-content-subtitle {
    font-size: 1rem;
  }
  .utility-page-video {
    width: 80%;
  }
  .product-creator-img {
    width: 2.7rem;
    height: 2.7rem;
    margin-right: 1.4rem;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  .header-container {
    height: 7.5rem;
  }
  .products-container {
    padding-top: 9.5rem;
  }
  .header-logo {
    margin-left: 4.2rem;
    width: 16rem;
  }
  .header-button {
    margin-right: 5rem;
    font-size: 1.2rem;
    padding: 0.7rem 1.8rem;
    border-radius: 0.9rem;
  }
  .register-text {
    right: 10.5rem !important;
  }
  .product-content {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .product-creator-img {
    width: 2.3rem;
    height: 2.3rem;
  }
  .product-cost {
    font-size: 1.75rem;
  }
  .buy-now {
    font-size: 1.5rem;
    padding: 0.5rem 1.8rem;
  }
  .product-creator-info-name {
    font-size: 1.4rem;
  }
  .product-content-subtitle {
    font-size: 1.15rem;
  }
  .product-creator-img {
    width: 3rem;
    height: 3rem;
    margin-right: 1.7rem;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1800px) { 
  .header-container {
    height: 8.5rem;
  }
  .products-container {
    padding-top: 10.5rem;
  }
  .header-logo {
    margin-left: 4.7rem;
    width: 18rem;
  }
  .header-button {
    margin-right: 5.5rem;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
  }
  .register-text {
    right: 13rem !important;
  }
  .product-content {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .product-creator-img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .product-cost {
    font-size: 2rem;
  }
  .buy-now {
    font-size: 1.75rem;
    padding: 0.5rem 2rem;
  }
  .product-creator-info-name {
    font-size: 1.7rem;
  }
  .product-content-subtitle {
    font-size: 1.35rem;
  }
  .product-creator-img {
    width: 3.4rem;
    height: 3.4rem;
    margin-right: 2rem;
  }
}
.similiar-wearables-container{
  width: 90%;
  margin: auto;
}
.similiar-wearables-container .swiper-slide{
  background: linear-gradient(180deg, #e952ec 0%, rgba(245, 111, 111, 0) 100%);
  border-radius: 1rem;
  padding: 0.4rem;
  padding-bottom: 3rem;
  height: auto !important;
}
.similiar-wearables-container .swiper-slide video{
  border: 5px solid #D19CFB;
  border-radius: 1rem;
}
.similiar-wearables-container .swiper-slide-active{
    border: none;
    box-shadow: none;
}
.swiper-button-prev, .swiper-button-next{
  opacity: 1 !important;
  background: white;
  padding: 3%;
  border-radius: 50%;
}

.similiar-wearables-slides .swiper-button-next, .similiar-wearables-slides .swiper-button-prev {
  top: 40%;
  transform: translate(0, -50%)
}

.similiar-wearables-slides.swipper-wrapper.swiper-slide{
  height: auto !important;
}

.sl-spinner3 {
  width: 100%;
}

