.community-container {
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #6E1F9D 100%);
  border-radius: 30px;
  border-radius: 30px;
  height: auto;
  padding-bottom: 3rem;
  overflow-x: hidden;
  padding-top: 1rem;
}
.community-header-1 {
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 400;
  font-size: 26.1786px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #f6f6f1;
  position: relative;
  margin-bottom: 1%;
  margin-top: 10%;
}
.community-header-2 {
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 400;
  font-size: 49.579px;
  line-height: 54px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #f6f6f1;
  margin-bottom: 8%;
}
.community-subtitle {
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 400;
  font-size: 22.2599px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #f6f6f1;
}

.community-subtitle-container {
  display: flex;
  justify-items: center;
  justify-content: center;
}
.button-community-1 {
  background: #1a1919;
  border-radius: 7.24577px;
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.04em;
  border: none;
  color: #f6f6f1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 0.7rem;
}
.button-community-1:hover {
  border: 1px solid white;
  background-color: white;
  color: black;
}
.button-community-2:hover {
  color: black;
  border: 2px solid black;
}
.button-community-2 {
  background: transparent;
  border-radius: 7.24577px;
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5vw;
  line-height: 2vw;
  width: 76.81px;
  height: 21.98px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #f6f6f1;
  border: 1px solid white;
  /* margin-left: 5%; */
}
.button-groups-community {
  display: flex;
  justify-content: center;
  justify-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.group-button{
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}
.partners-container {
  margin: 0 !important;
  padding: 0 !important;
}
.passive-income {
  position: relative;
  height: 100%;
  width: 90%;
  background: linear-gradient(180deg, #4F30A7 0%, rgba(134, 110, 110, 0) 100%);
  border-radius: 15.1479px;
}
.partners-container{
    width: 100%;
    justify-content: center !important;
    align-items: center !important;
}
.passive1-img{
    position: relative;
    left: 89%;
    margin-top: -5%;
    /* transform: scale(1.5); */
}
.passive2-img{
    position: relative;
    margin-left: -5%;
    /* transform: scale(1.5); */
}
.passive-subtitle-container{
    position: relative;
    padding: 1rem;
}
.passive-header{
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 600;
    font-size: 21.1893px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #F6F6F1;
}
.passive-subtitle{
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 400;
    font-size: 11.5201px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #F6F6F1;
}
.button-container{
    position: relative;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.passive3-img{
    position: absolute;
    right: -5%;
    /* transform: scale(1.5); */
}
.button-passive{
    width: 207px;
    height: 59.24px;
    border: 1px solid #E2DCE1;
    border-radius: 19.5283px;
    background-color: transparent;
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 500;
    font-size: 23.7422px;
    line-height: 26px;
/* or 109% */

text-align: center;
letter-spacing: 0.04em;

color: #F6F6F1;
}
.passive4-img{
/* transform: scale(1.5); */
position: relative;
left: -8%;
}

/* partners container */
.partners{
    position: relative;
    width: 100%;
    border-radius: 15.1479px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 !important;
    padding: 0 !important;
}
.partners-section{
    padding: 0;
}
.partner-title{
    font-family: 'Clash Display Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 15.9759px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #F6F6F1;
    position: relative;
    padding-top: 10%;
    padding-bottom: 5%;
}
.partner-icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
}
.partner-text{
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 10px;
    /* identical to box height, or 93% */
    
    text-align: center;
    letter-spacing: 0.04em;
    
    color: #F6F6F1;
}

.group-button button {
  font-family: Clash Display Medium;
}

.partners-header {
  font-family: "Clash Display Bold";
  font-style: normal;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #dddada;
}

.partners-container {
  display: flex !important;
  flex-direction: column !important;
  order: 2 !important;
}
.join-community-container {
  display: flex !important;
  flex-direction: column !important;
  order: 1 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.partners-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners-header {
  display: flex;
  justify-content: center;
  font-size: 1rem !important;
}
.partner-icon-container {
  padding: 1.5rem 1.5rem;
}
.partner-icon {
  width: 3rem !important;
}
.partners-social-subtitle {
  font-size: 1.2rem;
}
.partners-social-subtitle {
  font-family: 'Clash Display Light' !important;  
  color: #F6F6F1 !important;
  font-size: 0.75rem;
  margin-top: 1rem;
}
.partners-logo-container {
}

.utility-content-header-join-us {
  font-size: 0.85rem !important;
  font-family: "Clash Display ExtraLight" !important;
}

.utility-content-header-join {
  font-size: 1rem !important;
  font-family: "Clash Display Light" !important;
}
.community-subtitle-container {
  margin-top: 1rem;
}
.community-subtitle-container p {
  font-family: "Clash Display Light" !important;
}
.community-subtile-text {
  font-family: "Clash Display Light" !important;
  font-size: 0.85rem;
  color: #F6F6F1;
  padding: 0rem 3rem;
  opacity: 0.8;
}
.community-button-text {
  font-family: "Clash Display Medium" !important;
  margin-left: 0.4rem;
}

.button-community-2-style {
  background-color: transparent;
  color: #dddada;
  border: 1px solid #E2DCE1;
}

@media only screen and (min-width: 300px){
  .partners-container {
    display: flex !important;
    flex-direction: column !important;
    order: 1 !important;
  }
  .join-community-container {
    display: flex !important;
    flex-direction: column !important;
    order: 2 !important;
    margin-top: 2rem !important;
  }
  .partners-header {
    display: flex;
    justify-content: center;
    font-size: 1rem !important;
    margin-left: 0.5rem;
  }
  .partner-icon-container {
    padding: 1.2rem 1.5rem;
  }
  .partner-icon {
    width: 3rem !important;
  }
  .partners-social-subtitle {
    font-size: 0.8rem !important;
  }
  .partners-social-subtitle {
    font-family: 'Clash Display Light' !important;  
    color: #F6F6F1 !important;
    /* font-size: 0.55rem; */
    margin-top: 1rem;
  }
  .partners-logo-container {
    /* margin-left: -1.5rem; */
  }

  .utility-content-header-join-us {
    font-size: 0.85rem !important;
    font-family: "Clash Display ExtraLight" !important;
  }

  .utility-content-header-join {
    font-size: 1rem !important;
    font-family: "Clash Display Light" !important;
  }
  .community-subtitle-container {
    margin-top: 1rem;
  }
  .community-subtile-text {
    font-size: 0.85rem;
    color: #F6F6F1;
    padding: 0rem 3rem;
    opacity: 0.8;
  }
  .community-button-text {
    margin-left: 0.4rem;
  }
}

@media only screen and (min-width: 400px){
  .join-community-container {
    margin-top: 1.5rem !important;
  }
  .partners-header {
    display: flex;
    justify-content: center;
    font-size: 1.2rem !important;
  }
  .partner-icon-container {
    padding: 1.5rem 1.6rem;
  }
  .partner-icon {
    width: 3.2rem !important;
  }
  .partners-social-subtitle {
    font-size: 0.75rem !important;
  }
  .partners-social-subtitle {
    font-family: 'Clash Display Light' !important;
    color: #F6F6F1 !important;
    /* font-size: 0.6rem !important; */
    margin-top: 1rem;
  }

  .utility-content-header-join-us {
    font-size: 0.9rem !important;
    font-family: "Clash Display ExtraLight" !important;
  }

  .utility-content-header-join {
    font-size: 1.1rem !important;
    font-family: "Clash Display Light" !important;
  }
  .community-subtitle-container {
    margin-top: 1.2rem;
  }
  .community-subtile-text {
    font-size: 0.95rem;
    color: #F6F6F1;
    padding: 0rem 4rem;
  }
  .community-button-text {
    margin-left: 0.4rem;
  }
}

@media only screen and (min-width: 600px){
  .partners-container {
    width: 100% !important; 
  }
  .join-community-container {
    margin-top: 2.5rem !important;
  }
  .partners-header {
    display: flex;
    justify-content: center;
    font-size: 1.4rem !important;
    margin-left: 1rem;
  }
  .partner-icon-container {
    padding: 1.5rem 2rem;
  }
  .partner-icon {
    width: 3.5rem !important;
  }
  .partners-social-subtitle {
    font-size: 0.75rem !important;
  }
  .partners-social-subtitle {
    font-family: 'Clash Display Light' !important;  
    color: #F6F6F1 !important;
    /* font-size: 0.55rem; */
    margin-top: 1rem;
  }

  .utility-content-header-join-us {
    font-size: 1.2rem !important;
    font-family: "Clash Display ExtraLight" !important;
  }

  .utility-content-header-join {
    font-size: 1.5rem !important;
    font-family: "Clash Display Light" !important;
  }
  .community-subtitle-container {
    margin-top: 1.4rem;
  }
  .community-subtile-text {
    font-size: 1rem;
    color: #F6F6F1;
    padding: 0rem 7rem;
  }
  .community-button-text {
    margin-left: 0.4rem;
    font-size: 1rem;
  }
  .button-community-1 svg {
    width: 0.8rem;
    height: 0.8rem;
    margin-left: 0.35rem;
  }
  .button-community-2-style svg {
    width: 1rem;
    height: 1rem;
    margin-left: 0.35rem;
  }
}

@media only screen and (min-width: 768px){
  .partners-container {
    display: block !important;
    order: unset !important;
    margin-top: 1.5rem !important;
    width: auto !important; 
  }
  .join-community-container {
    display: block !important;
    margin-top: 0rem !important;
    order: unset !important ;
  }
  .partners-header {
    display: flex;
    justify-content: left;
    font-size: 1.5rem !important;
    margin-left: 1rem;
  }
  .partner-icon-container {
    padding: 1.5rem 1.5rem;
  }
  .partner-icon {
    width: 4rem !important;
  }
  .partners-social-subtitle {
    font-size: 0.8rem !important;
  }
  .partners-social-subtitle {
    font-family: 'Clash Display Light' !important;  
    color: #F6F6F1 !important;
    /* font-size: 0.8rem !important; */
    margin-top: 1rem;
  }

  .utility-content-header-join-us {
    font-size: 1.2rem !important;
    font-family: "Clash Display ExtraLight" !important;
  }

  .utility-content-header-join {
    font-size: 1.5rem !important;
    font-family: "Clash Display Light" !important;
  }
  .community-subtitle-container {
    margin-top: 1.4rem;
  }
  .community-subtile-text {
    font-size: 0.9rem;
    color: #F6F6F1;
    padding: 0rem 4rem;
  }
  .community-button-text {
    margin-left: 0.4rem;
    font-size: 0.85rem;
  }
  .button-community-1 svg {
    width: 1rem;
    height: 1rem;
    margin-left: 0.35rem;
  }
  .button-community-2-style svg {
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 0.35rem;
  }
}

@media only screen and (min-width: 992px){
  .partners-container {
    display: block !important;
    order: unset !important;
    margin-top: 1.5rem !important;
    width: auto;
  }
  .join-community-container {
    display: block !important;
    margin-top: 0rem !important;
    order: unset !important ;
  }
  .partners-header {
    display: flex;
    justify-content: left;
    font-size: 1.5rem !important;
    margin-left: 1rem;
  }
  .partner-icon-container {
    padding: 1.5rem 2.3rem !important;
  }
  .partner-icon {
    width: 4rem !important;
  }
  .partners-social-subtitle {
    font-size: 0.9rem !important;
  }
  .partners-social-subtitle {
    font-family: 'Clash Display Light' !important;  
    color: #F6F6F1 !important;
    /* font-size: 0.85rem !important; */
    margin-top: 1rem;
  }

  .utility-content-header-join-us {
    font-size: 1.2rem !important;
    font-family: "Clash Display ExtraLight" !important;
  }

  .utility-content-header-join {
    font-size: 1.5rem !important;
    font-family: "Clash Display Light" !important;
  }
  .community-subtitle-container {
    margin-top: 4rem;
  }
  .community-subtile-text {
    font-size: 0.9rem;
    color: #F6F6F1;
    padding: 0rem 8rem;
  }
  .community-button-text {
    margin-left: 0.4rem;
    font-size: 0.85rem;
  }
  .button-community-1 svg {
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 0.4rem;
  }
  .button-community-2-style svg {
    width: 1.4rem;
    height: 1.4rem;
    margin-left: 0.4rem;
  }
}

@media only screen and (min-width: 1202px){
  .partners-container {
    display: block !important;
    order: unset !important;
    margin-top: 1.5rem !important;
    width: auto;
  }
  .join-community-container {
    display: block !important;
    margin-top: 0rem !important;
    order: unset !important ;
  }
  .partners-header {
    display: flex;
    justify-content: left;
    font-size: 1.8rem !important;
    /* margin-left: 1rem; */
  }
  .partner-icon-container {
    padding: 1.5rem 3rem !important;
  }
  .partner-icon {
    width: 5rem !important;
  }
  .partners-social-subtitle {
    font-family: 'Clash Display Light' !important;  
    color: #F6F6F1 !important;
    /* font-size: 0.9rem !important; */
    margin-top: 1rem;
  }

  .utility-content-header-join-us {
    font-size: 1.4rem !important;
    font-family: "Clash Display ExtraLight" !important;
  }

  .utility-content-header-join {
    font-size: 1.8rem !important;
    font-family: "Clash Display Light" !important;
    margin-top: -0.5rem;
  }
  .community-subtitle-container {
    margin-top: 4.5rem;
  }
  .community-subtile-text {
    font-size: 1rem;
    color: #F6F6F1;
    padding: 0rem 14rem;
  }
  .community-button-text {
    margin-left: 0.1rem;
    font-size: 1rem;
    padding: 0rem 1rem;
  }
  .button-community-1 svg {
    width: 1.4rem;
    height: 1.4rem;
    margin-left: 0.5rem;
  }
  .button-community-1 svg {
    width: 1.4rem;
    height: 1.4rem;
    margin-left: 0.5rem;
  }
  .button-community-2-style svg {
    width: 1.6rem !important;
    height: 1.6rem !important;
    margin-left: 0.5rem;
  }
}