.asset-container{
    position: relative;
    background: linear-gradient(180deg, #000000 0%, rgba(214, 40, 196, 0.3) 80.73%, rgba(4, 3, 4, 0) 99.98%, #C376B6 99.99%, rgba(134, 110, 110, 0) 100%);
}
.asset-bg{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 25rem;
}
.profile-container{
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 20;
    margin-left: 5%;
    align-items: baseline;
    justify-items: baseline;
}
.text-profile-name{
    font-weight: 500;
    font-size: 55.9749px;
    line-height: 61px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #FFEEFA;
}
.text-profile-id{
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 400;
    font-size: 38.7974px;
    line-height: 42px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #470D62;
}
.asset-profile{
    width: 183px;
    height: 183px;
}
.asset-card{
    width: 80%;
    height: auto;
    /* padding:20% 0%; */
    background: linear-gradient(180deg, #B15EB3 0%, rgba(197, 138, 138, 0) 100%);
    border-radius: 37.1408px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
.asset-img{
    position: relative;
    width:100%;
    height: auto;
    border: 5px solid #D19CFB;
    border-radius: 5%;
}
.asset-title{
    font-size: calc(15px + 0.390625vw);
    color: white;
}
.loading{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;;
    color: white;
}
.asset-profile-icon {
    position: absolute !important;
    top: 35% !important;
    width: 10rem !important;
    /* height: 100px; */
    z-index: 100 !important;
    transform: translate(0%, -50%) !important;
}