
.countdown-wrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
    position: relative;
    /* margin-left: 10%; */
    margin-top: 0.9rem;
}
.countdown-container{
    display: flex;
    flex-direction: column;
}
.countdown-item {
    width: 2.5rem;
    height: 2.5rem;
    background: linear-gradient(180deg, #BF6DD3 0%, rgba(217, 217, 217, 10%) 100%);
    /* border-radius: 4.83052px; */
    text-align: center;
    text-justify: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Clash Display Medium' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 18.5142px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #000000;
    font-size: 1.2rem !important;
    /* padding: 0.6rem; */
    border-radius: 0.4rem;
}
.counter-seperator{
    position: relative;
    display: flex;
    justify-content: center;
    width: 14.81px;
    height: 33.49px;
    display: flex;
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 500;
    font-size: 18.5142px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    background: linear-gradient(180deg, #DC40B0 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.countdown-container span {
    font-family: 'Clash Display';
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 5.65732px;
    line-height: 6px;
    letter-spacing: 0.02em;
    color: #F6F6F1;
}
@media only screen and (min-width: 768px){
    .countdown-item {
        width: 45.49px;
        height: 45.49px;
        border-radius: 6.8755px;
        font-size: 25.5157px;
        line-height: 27px;

    }
    .countdown-container span {
        font-size: 8.9081px;
        line-height: 15px;
    }
    .counter-seperator{
        height: 82.34px;
        font-weight: 500;
        font-size: 25.5157px;
        line-height: 50px;
    }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .countdown-item {
        width: 58.34px;
        height: 58.34px;
        border-radius: 7.8755px;
        font-size: 30.5157px;
        line-height: 34px;
    }
    .countdown-container span {
        font-size: 7.9081px;
        line-height: 15px;
    }
    .counter-seperator{
        height: 82.34px;
        font-weight: 500;
        font-size: 45.5157px;
        line-height: 50px;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .countdown-item {
        width: 70.34px;
        height: 70.34px;
        border-radius: 9.8755px;
        font-size: 37.5157px;
        line-height: 41px;
    }
    .countdown-container span {
        font-size: 8.9081px;
        line-height: 15px;
    }
    .counter-seperator{
        height: 82.34px;
        font-weight: 500;
        font-size: 45.5157px;
        line-height: 50px;
    } 
 
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .countdown-item {
        width: 82.34px;
        height: 82.34px;
        border-radius: 11.8755px;
        font-size: 45.5157px;
        line-height: 50px;
    }
    .countdown-container span {
        font-size: 10.9081px;
        line-height: 15px;
    }
    .counter-seperator{
        height: 82.34px;
        font-weight: 500;
        font-size: 45.5157px;
        line-height: 50px;
    }
 
}

.countdown-item-subtitle {
    margin-top: 0.15rem;
    font-size: 0.45rem !important;
}

/* responsive */

@media (min-width: 400px) { 
    .countdown-item {
        width: 2.8rem;
        height: 2.8rem;
        font-size: 1.3rem !important;
        border-radius: 0.45rem;
    }
    
    .countdown-item-subtitle {
        margin-top: 0.3rem;
        font-size: 0.55rem !important;
    }
    
    .countdown-wrapper {
        margin-top: 1rem;
    }

    .counter-seperator {
        width: 1rem;
        height: 2rem;
        font-size: 1.05rem;
    }
}

@media (min-width: 600px) { 
    .countdown-item {
        width: 3.3rem;
        height: 3.3rem;
        font-size: 1.7rem !important;
        border-radius: 0.7rem;
    }
    
    .countdown-item-subtitle {
        margin-top: 0.45rem;
        font-size: 0.6rem !important;
    }
    
    .countdown-wrapper {
        margin-top: 1.15rem;
    }

    .counter-seperator {
        width: 1.3rem;
        height: 3.5rem;
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) { 
    .countdown-item {
        width: 3.5rem;
        height: 3.5rem;
        font-size: 2rem !important;
        border-radius: 0.8rem;
    }
    
    .countdown-item-subtitle {
        margin-top: 0.2rem;
        font-size: 0.7rem !important;
    }
    
    .countdown-wrapper {
        margin-top: 1.15rem;
    }

    .counter-seperator {
        width: 2rem;
        height: 4.5rem;
        font-size: 2rem;
    }
}

@media (min-width: 992px) { 
    .countdown-item {
        width: 4rem;
        height: 4rem;
        font-size: 2.4rem !important;
        border-radius: 0.85rem;
    }
    
    .countdown-item-subtitle {
        margin-top: 0.4rem;
        font-size: 0.75rem !important;
    }
    
    .countdown-wrapper {
        margin-top: 1.15rem;
    }

    .counter-seperator {
        width: 2.3rem;
        height: 4.5rem;
        font-size: 2.5rem;
    }
}

@media (min-width: 1200px) {
    .countdown-item {
        width: 4.8rem;
        height: 4.8rem;
        font-size: 2.4rem !important;
        border-radius: 0.85rem;
    }
    
    .countdown-item-subtitle {
        margin-top: 0.5rem;
        font-size: 0.75rem !important;
    }
    
    .countdown-wrapper {
        margin-top: 1.2rem;
    }

    .counter-seperator {
        width: 2.5rem;
        height: 4.5rem;
        font-size: 2.5rem;
    }
}

@media (min-width: 1400px) {
    .countdown-item {
        width: 5rem;
        height: 5rem;
        font-size: 2.5rem !important;
        border-radius: 0.85rem;
    }
    
    .countdown-item-subtitle {
        margin-top: 0.6rem;
        font-size: 0.75rem !important;
    }
    
    .countdown-wrapper {
        margin-top: 1.2rem;
    }

    .counter-seperator {
        width: 3rem;
        height: 6rem;
        font-size: 2.5rem;
    }
}

@media (min-width: 1800px) {
    .countdown-item {
        width: 6rem;
        height: 6rem;
        font-size: 2.8rem !important;
        border-radius: 0.85rem;
    }
    
    .countdown-item-subtitle {
        margin-top: 0.65rem;
        font-size: 0.8rem !important;
    }
    
    .countdown-wrapper {
        margin-top: 1.3rem;
    }

    .counter-seperator {
        width: 4rem;
        height: 6rem;
        font-size: 3rem;
    }
}