.header-dropdown {
  position: absolute;
  font-family: "Druk Wide Medium";
  right: 0;
  margin-top: 8rem;
  background: #171414;
  color: #978097 !important;
  text-align: left;
}

.header-dropdown li{
  background: none;
  font-family: "Druk Wide Medium";
  background: #171414;
  color: #978097 !important;
  text-align: left;
  right: 0;
} 

.header-dropdown li:hover{
  cursor: pointer;
  color: rgb(201, 201, 201);
}

.dropdown-menu {
  background: #171414;
  color: #978097 !important;
  text-align: left;
  margin-top: 0.5rem !important;
}

.dropdown > ul {
  display: none;
}

.header-button::after {
  content: none;
}

.dropdown-items:hover {
  color: rgb(201, 201, 201);
  cursor: pointer;
}

.extra {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buy-now {
  background-color: brown;
  padding: 20px;
  border-radius: 10px
}

.switch-network-modal {
  background-color: #181818;
  height: 300px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dropdown-menu>li>a{
  color: inherit;
  padding: 0;
}
.dropdown-menu>li>a:hover{
  background-color: transparent;
  color:inherit;
}