.header-container{
    position: relative;
    top: 0;
    height: 10vh;
    width: 100%;
    z-index: 10000;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    align-items: center;

}
.header-logo{
    position: relative;
    margin-left: 5%;
}
.header-button{
    /* width: 232px; */
    padding: 15px 10px;
    height: 60%;
    background: linear-gradient(180deg, #D981DB 0%, rgba(55, 109, 215, 0.4) 100%);
    border-radius: 18.3732px;
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 500;
    font-size: 18.4759px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    justify-self: flex-end;
    position: absolute;
    right: 10%;
}

@media  screen and (max-width:500px) {
    .header-container{
        position: fixed;
    }
    .header-logo{
        width: 96.15px;
        height: 11.59px;
    }
    .header-button{
        width: 74.51px;
        height: 10.15px;
        font-weight: 500;
        font-size: 6.84881px;
        line-height: 8px;
        display: flex;
        align-items: center;
        background: linear-gradient(180deg, #D981DB 0%, rgba(55, 109, 215, 0.4) 100%);
        border-radius: 6.81075px;
        color: #FFFFFF;
    }
}