.partners-container {
/* width: 100%; */
    margin: 0% 5%;
    width: 100%;
    height:fit-content;
    padding: 5% 0%;
}
.passive-income {
  position: relative;
  height: 100%;
  width: 90%;
  background: linear-gradient(180deg, #4F30A7 0%, rgba(134, 110, 110, 0) 100%);
  border-radius: 15.1479px;
}
.partners-container{
    width: 100%;
}
.passive1-img{
    position: relative;
    left: 89%;
    margin-top: -5%;
    /* transform: scale(1.5); */
}
.passive2-img{
    position: relative;
    margin-left: -5%;
    /* transform: scale(1.5); */
}
.passive-subtitle-container{
    position: relative;
}
.passive-header{
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 600;
    font-size: 21.1893px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #F6F6F1;
}
.passive-subtitle{
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 400;
    font-size: 11.5201px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #F6F6F1;
}
.button-container{
    position: relative;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.passive3-img{
    position: absolute;
    right: -5%;
    /* transform: scale(1.5); */
}
.button-passive{
    width: 207px;
    height: 59.24px;
    border: 1px solid #E2DCE1;
    border-radius: 19.5283px;
    background-color: transparent;
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 500;
    font-size: 23.7422px;
    line-height: 26px;
/* or 109% */

text-align: center;
letter-spacing: 0.04em;

color: #F6F6F1;
}
.passive4-img{
/* transform: scale(1.5); */
position: relative;
left: -8%;
}

/* partners container */
.partners{
    position: relative;
    width: 100%;
    min-height: 100%;
    border-radius: 15.1479px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}
.partners-section{
    padding: 0;
}
.partner-title{
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 600;
    font-size: 15.9759px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #F6F6F1;
    position: relative;
    padding-top: 10%;
    padding-bottom: 5%;
}
.partner-icon{
    width: 50%;
    height: auto;
}
.partner-icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
}
.partner-text{
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 10px;
    /* identical to box height, or 93% */
    
    text-align: center;
    letter-spacing: 0.04em;
    
    color: #F6F6F1;
}

@media only screen and (min-width: 768px){
    .passivelg4 {
        display: block !important;
        position: absolute !important;
        right: -6% !important;
        bottom: 0% !important;
        height: 70px !important;
        width: 70px !important;
    }
    .passivelg5 {
        display: block !important;
        position: absolute !important;
        bottom: 15% !important;
        left: -10% !important;
        height: 70px !important;
        width: 70px !important;
        transform: scale(.7) !important;
    }
    .passivelg3 {
        display: block !important;
        position: absolute !important;
        bottom: -2% !important;
        left: -3% !important;
        height: 70px !important;
        width: 70px !important;
        transform: scale(1.3) !important;
    }
}

@media only screen and (min-width: 992px){
    .passivelg5 {
        display: block !important;
        position: absolute !important;
        bottom: 15% !important;
        left: -8% !important;
        height: 70px !important;
        width: 70px !important;
        transform: scale(.7) !important;
    }
}


@media only screen and (min-width: 1400px) {
    .passivelg1 {
        display: block !important;
        top: -7% !important;
        left: 5% !important;
        height: 70px !important;
        width: 70px !important;
        position: absolute !important;
        transform: scale(0.8) !important;
      }
      .passivelg2 {
        display: block !important;
        top: -8% !important;
        right: 5% !important;
        height: 70px !important;
        width: 70px !important;
        position: absolute !important;
        transform: scale(.9) !important;
      }
      .passivelg3 {
        display: block !important;
        position: absolute !important;
        bottom: 0% !important;
        left: -2% !important;
        height: 70px !important; 
        width: 70px !important;
        transform: scale(1.3) !important;
      }
      .passivelg4 {
        display: block !important;
        position: absolute !important;
        right: -5% !important;
        bottom: 0% !important;
        height: 70px !important;
        width: 70px !important;
      }
      .passivelg5 {
        display: block !important;
        position: absolute !important;
        bottom: 15% !important;
        left: -5% !important;
        height: 70px !important;
        width: 70px !important;
        transform: scale(.7) !important;
      }
}

@media only screen and (min-width: 1600px) {
    .passivelg3 {
        display: block !important;
        position: absolute !important;
        bottom: -3% !important;
        left: -2% !important;
        height: 80px !important;
        width: 80px !important;
        transform: scale(1.3) !important;
      }
}

@media only screen and (min-width: 1800px){
    .passivelg1 {
      display: block !important;
      top: -7% !important;
      left: 5% !important;
      height: 80px !important;
      width: 80px !important;
      position: absolute !important;
      transform: scale(0.8) !important;
    }
    .passivelg2 {
      display: block !important;
      top: -8% !important;
      right: 5% !important;
      height: 90px !important;
      width: 90px !important;
      position: absolute !important;
      transform: scale(.9) !important;
    }
    .passivelg3 {
      display: block !important;
      position: absolute !important;
      bottom: 3% !important;
      left: -2% !important;
      height: 80px !important;
      width: 80px !important;
      transform: scale(1.3) !important;
    }
    .passivelg4 {
      display: block !important;
      position: absolute !important;
      right: -4% !important;
      bottom: 0% !important;
      height: 80px !important;
      width: 80px !important;
    }
    .passivelg5 {
      display: block !important;
      position: absolute !important;
      bottom: 15% !important;
      left: -5% !important;
      height: 80px !important;
      width: 80px !important;
      transform: scale(.7) !important;
    }
  }