.footer-container {
  position: relative;
  height: max-content;
  background: #282121;
  width: 100%;
}
.footer-textarea{
  border: none;
  background-color: #F3F2F2;
}
textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;


  resize: none; /*remove the resize handle on the bottom right*/
}
.content-footer-about-header {
  font-family: "Druk Wide Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 1.2rem;
  display: flex;
  align-items: center;
  color: #dddada;
  margin: 2rem 1rem;
}
.footer-support-container {
  position: relative;
  background: #F3F2F2;
  border-radius: 22.0267px;
  height: 245px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
.footer-support-subtitle {
  font-family: "Clash Display Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 20.0325px;
  line-height: 22px;
  /* text-align: center; */
  letter-spacing: 0.04em;
  color: #d0c5c5;
}
.footer-support-title {
  font-family: "Clash Display Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 40.6373px;
  line-height: 44px;
  letter-spacing: 0.04em;
  color: #d0c5c5;
  align-self: flex-start;
  justify-self: flex-start;
  position: absolute;
  top: 3%;
  left: 2%;
}
.footer-input {
  width: 80%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1.46845px solid rgba(160, 152, 152, 0.69);
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 500;
  font-size: 13.004px;
  line-height: 14px;
  text-align: left;
  letter-spacing: 0.02em;
  color: #a69c9c;

}
.email-container{
  justify-self: baseline;
  position: absolute;
  width: 100%;
  left: 10%;
  bottom: 10%;
}
.icon-footer {
  width: 1.35rem;
  height: 1.35rem;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a69c9c;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a69c9c;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #a69c9c;
}
.send-button{
  color: #a69c9c !important;
}
.support-footer-header {
  position: relative;
  margin-top: 10%;
  font-family: "Druk Wide";
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;

  color: #dddada;
}


.footer-logo-container {
  margin-top: 5rem;
  text-align: center;
}
.logo-font {
  position: relative;
  margin-top: 10%;
  font-family: "Clash Display Light";
  font-style: normal;
  font-weight: 400;
  font-size: 17.9267px;
  /* or 109% */

  text-align: center;
  letter-spacing: 0.02em;

  color: #f6f6f1;
  /* margin-left: 0.2rem; */
}
.footer-social-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: relative;
  /* height: 50%; */
  margin-left: 1rem;
}
.social-icon-1 {
  /* width: 100%;
  height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  padding-right: .7rem;
}
.social-content {
  font-family: "Clash Display Light";
  font-style: normal;
  font-weight: 400;
  font-size: 0.65rem;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #f6f6f1;
  margin-top: 0.6rem;
  text-decoration: none;
}
.social-content:hover{
  text-decoration: none;
  color: #f6f6f1;
}
.social-content:focus{
  text-decoration: none;
  color: #f6f6f1;
}
.terms-container {
  font-family: "Druk Wide Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  color: #dddada;
  margin: 1rem 1rem;
}
.terms-text {
  font-family: "Druk Wide";
  font-style: normal;
  font-weight: 500;
  font-size: 0.65rem;
  display: flex;
  align-items: center;

  color: #dddada;
}
/* .footer-img{
  width: 80%;
  height: auto;
} */
.support-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-img {
  max-width: 4.5rem;
}
.footer-section-1 {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  background: #282121; 
}

.footer-response-msg {
  position: absolute;
  bottom: 2%;
  text-align: left;
  left: 11%;
  font-size: 0.8rem;
}


@media only screen and (max-width: 450px) {
  .footer-section-1{
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    order: 2;
  }
  .support-section{
    order: 1;
  }
  .support-container {
    background-color: transparent;
    margin-bottom: 10%;
  }
  .footer-container{
    background-color: transparent;
    margin: 0 !important;
    padding: 0;
  }
  .support-footer-header{
    justify-content: center;
  }
  .icon-footer {
    height: 1.35rem !important;
    width: 1.35rem !important;
  }
  .social-content {
    font-size: 0.65rem;
  }
  .logo-font {
    font-family: "Clash Display Light";
    font-style: normal;
    font-weight: 400;
    font-size: 0.4rem;
    line-height: 1.5rem;
    /* or 109% */

    text-align: center;
    letter-spacing: 0.02em;

    color: #f6f6f1;
    /* margin-left: 0.4rem; */
  }
  .terms-text {
    font-family: "Druk Wide Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 0.65rem;
    color: #dddada;
  }
}

@media only screen and (min-width: 450px) and (max-width: 600px) {
  .content-footer-about-header{
    font-size: 1.1rem;
  }
  .footer-section-1{
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    order: 2;
  }
  .support-section{
    order: 1;
  }
  .support-container {
    background-color: transparent;
    margin-bottom: 10%;
  }
  .footer-container{
    background-color: transparent;
    margin: 0 !important;
    padding: 0;
  }
  .support-footer-header{
    justify-content: center;
  }
  .icon-footer {
    height: 1.4rem !important;
    width: 1.4rem !important;
  }
  .social-content {
    font-size: 0.7rem;
  }
  .logo-font {
    font-family: "Clash Display Light";
    font-style: normal;
    font-weight: 400;
    font-size: 0.48rem;
    line-height: 1.5rem;
    /* or 109% */

    text-align: center;
    letter-spacing: 0.02em;

    color: #f6f6f1;
    /* margin-left: 0.45rem; */
  }
  .terms-text {
    font-family: "Druk Wide Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 0.7rem;
    color: #dddada;
  }
  .footer-img {
    max-width: 5rem;
  }
  .social-icon-1 {
    padding-right: 1.2rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .content-footer-about-header{
    font-size: 1.2rem;
  }
  .footer-section-1{
    padding-top: 1rem;
    padding-bottom: 2rem;
    order: 2;
  }
  .support-section{
    order: 1;
  }
  .support-container {
    background-color: transparent;
    margin-bottom: 10%;
  }
  .footer-container{
    background-color: transparent;
    margin: 0 !important;
    padding: 0;
  }
  .support-footer-header{
    justify-content: center;
  }
  .icon-footer {
    height: 1.45rem !important;
    width: 1.45rem !important;
  }
  .social-content {
    font-size: 0.8rem;
  }
  .logo-font {
    font-family: "Clash Display Light";
    font-style: normal;
    font-weight: 400;
    font-size: 0.58rem;
    line-height: 1.5rem;
    /* or 109% */

    text-align: center;
    letter-spacing: 0.02em;

    color: #f6f6f1;
    /* margin-left: 0.5rem; */
  }
  .terms-text {
    font-family: "Druk Wide Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    color: #dddada;
  }
  .footer-img {
    max-width: 6rem;
  }
  .social-icon-1 {
    padding-right: 2.5rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 950px) {
  .content-footer-about-header{
    font-size: 1.2rem;
  }
  .footer-section-1{
    padding-top: 1rem;
    padding-bottom: 2rem;
  } 
  .footer-container{
    margin: 0 !important;
  }
  .footer-logo-container {
    margin-top: 2rem;
  }
  .support-footer-header{
    justify-content: center;
  }
  .icon-footer {
    height: 1.5rem !important;
    width: 1.5rem !important;
  }
  .social-content {
    font-size: 0.8rem;
  }
  .logo-font {
    font-family: "Clash Display Light";
    font-style: normal;
    font-weight: 400;
    font-size: 0.76rem;
    line-height: 1.5rem;
    /* or 109% */

    text-align: center;
    letter-spacing: 0.02em;

    color: #f6f6f1;
    /* margin-left: 0.55rem; */
  }
  .terms-text {
    font-family: "Druk Wide Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    color: #dddada;
  }
  .footer-img {
    max-width: 8rem;
  }
  .social-icon-1 {
    padding-right: 1.5rem;
  }
  .terms-container {
    margin: 1.6rem 1rem;
  }
}

@media only screen and (min-width: 950px) and (max-width: 1200px) {
  .content-footer-about-header{
    font-size: 1.3rem;
  }
  .footer-section-1{
    padding-top: 2rem;
    padding-bottom: 3rem;
  } 
  .footer-container{
    margin: 0 !important;
  }
  .footer-logo-container {
    margin-top: 2rem;
  }
  .support-footer-header{
    justify-content: center;
  }
  .icon-footer {
    height: 1.8rem !important;
    width: 1.8rem !important;
  }
  .social-content {
    font-size: 0.9rem;
  }
  .logo-font {
    font-family: "Clash Display Light";
    font-style: normal;
    font-weight: 400;
    font-size: 0.95rem;
    line-height: 1.5rem;
    /* or 109% */

    text-align: center;
    letter-spacing: 0.02em;

    color: #f6f6f1;
  }
  .terms-text {
    font-family: "Druk Wide Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 0.88rem;
    color: #dddada;
  }
  .footer-img {
    max-width: 10rem;
  }
  .social-icon-1 {
    padding-right: 2.5rem;
  }
  .terms-container {
    margin: 1.6rem 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .content-footer-about-header{
    font-size: 1.7rem;
  }
  .footer-section-1{
    padding-top: 2rem;
    padding-bottom: 3rem;
  } 
  .footer-container{
    margin: 0 !important;
    padding: 0rem 3rem;
  }
  .footer-logo-container {
    margin-top: 2rem;
  }
  .support-footer-header{
    justify-content: center;
  }
  .icon-footer {
    margin-top: 2rem;
    height: 2.7rem !important;
    width: 2.7rem !important;
  }
  .social-content {
    font-size: 1.25rem;
    margin-top: 1rem;
  }
  .logo-font {
    font-family: "Clash Display Light";
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-top: 2rem;
    text-align: center;
    letter-spacing: 0.02em;

    color: #f6f6f1;
  }
  .terms-text {
    font-family: "Druk Wide Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: #dddada;
  }
  .footer-img {
    max-width: 15rem;
  }
  .social-icon-1 {
    padding-right: 4.5rem;
  }
  .terms-container {
    margin: 3rem 1rem;
  }
}
.footer.send-button{
  transform: scale(.9);
  position: absolute;
  right: 10%;
}


/* ............. */
/* ====================================================
Recreating the email field from https://webflow.com/cms. Just an experiment - not as cross-browser friendly as the original.
Changed:
- animated gradient bar to :after element
- flexbox for layout
==================================================== */
html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

a {
  text-decoration: none;
}

input {
  border-style: none;
  background: transparent;
  outline: none;
}

button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
}

h1.demo {
  text-align: center;
  font-size: 2.4rem;
  font-weight: normal;
  margin-bottom: 1rem;
  color: #f5f6ff;
}

a.demo {
  text-align: center;
  font-size: 1.6rem;
  font-weight: normal;
  color: rgba(202, 205, 239, 0.8);
  margin-bottom: 3rem;
}

.demo-flex-spacer {
  flex-grow: 1;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.webflow-style-input {
  position: absolute;
  bottom: 12%;
  left: 10%;
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 2px;
  padding: 5px;
}
.webflow-style-input:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  height: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-position: 0% 0%;
  /* background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6); */
  border-bottom: 1px solid #a69c9c;
  background-size: 500% auto;
  -webkit-animation: gradient 3s linear infinite;
          animation: gradient 3s linear infinite;
}

.webflow-style-input input {
  flex-grow: 1;
  /* color: #a69c9c; */
  font-weight: 500;
  font-family: 'Clash Display Light';
  font-size: 0.9vw;
  line-height: 11px;
  vertical-align: middle;
}
.webflow-style-input input::-webkit-input-placeholder {
  color: #7881A1;
}

.webflow-style-input button {
  color: #7881A1;
  font-weight: 500;
  font-size: 10.4967px;
  line-height: 11px;
  vertical-align: middle;
  transition: color 0.25s;
}
.webflow-style-input button:hover {
  color: #BFD2FF;
}

.footer-textarea {
  display: block;
  height: 10vw;
  margin-top: -3vw;
  width: 22vw;
}