
.section-two-container{
    height: auto;
    margin: auto;
    padding-top:5% ;
    padding-bottom: 5%;
}
.section2-left{
font-family: 'Clash Display';
font-style: normal;
font-weight: 400;
font-size: 19.8106px;
line-height: 22px;
/* or 109% */
letter-spacing: 0.04em;
color: #F6F6F1;
}
.section2-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
font-family: 'Clash Display';
font-style: normal;
font-weight: 600;
font-size: 48.2034px;
line-height: 53px;
/* or 109% */

text-align: center;
letter-spacing: 0.02em;

color: #F6F6F1;

}

.section2-right-small{
    font-family: 'Clash Display';
font-style: normal;
font-weight: 400;
font-size: 19.8106px;
line-height: 22px;
letter-spacing: 0.04em;
color: #F6F6F1;
}