body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Druk Wide',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

iframe {
  pointer-events: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Clash Display Bold;
  src: url("./ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Bold.ttf");
}
@font-face {
  font-family: Clash Display Light;
  src: url("./ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Light.ttf");
}
@font-face {
  font-family: Clash Display ExtraLight;
  src: url("./ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Extralight.ttf");
}
@font-face {
  font-family: Clash Display Medium;
  src: url("./ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Medium.ttf");
}
@font-face {
  font-family: Druk Wide Bold; 
  src: url("./Druk_Collection/Druk\ Wide\ Family/DrukWide-Bold-Trial.otf");
}
@font-face {
  font-family: Druk Wide Medium; 
  src: url("./Druk_Collection/Druk\ Wide\ Family/DrukWide-Medium-Trial.otf");
}
@font-face {
  font-family: Druk Wide Italic; 
  src: url("./Druk_Collection/Druk\ Wide\ Family/DrukWide-SuperItalic-Trial.otf");
}
.title{
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 700;
  font-size: 13.2523px;
  line-height: 13px;
  letter-spacing: 0.02em;
  color: #F6F6F1;
}

.subtitle{
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 400;
  font-size: 8.5201px;
  line-height: 9px;
  letter-spacing: 0.04em;
  color: #F6F6F1;
}
.section2-title{
  font-family: 'Clash Display';
  font-style: bold;
  font-weight: 700;
  font-size: 16.8066px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #F6F6F1;
}
.section2-subtitle{
  font-family: 'Clash Display';
  font-style: Medium;
  font-weight: 400;
  font-size: 8.32px;
  line-height: 8px;
  letter-spacing: 0.04em;
  color: #F6F6F1;
}
.section3-title-new-1{
  font-family: 'Clash Display';
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #F6F6F1;
}

.section3-subtitle-new-1{
  font-family: 'Clash Display';
  font-style: Medium;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #F6F6F1;
}
.section3-title-new-2{
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 700;
  font-size: 21.2523px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #F6F6F1;
}
.section3-subtitle-new-2{
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 400;
  font-size: 9.56355px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #F6F6F1;
}
.passive-subtitle{
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 400;
  font-size: 11.5201px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #F6F6F1;
}
.passive-title{
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 600;
  font-size: 21.1893px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #F6F6F1;
}

  /* // Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) { 
  .title{
    font-size: 20.2523px;
    line-height: 28px;
  }
  .subtitle{
    font-size: 10.5201px;
    line-height: 12px;
  }
  .section2-title{
    font-size: 27.2523px;
    line-height: 33px;
  }
  .section2-subtitle{
    font-size: 10.5201px;
    line-height: 11px;
  }
  .section3-title-new-1{
    font-size: 22px;
    line-height: 23px;
  }
  .section3-subtitle-new-1{
    font-size: 11px;
    line-height: 13px;
  }
  .section3-title-new-2{
    font-size: 25.2523px;
    line-height: 29px;
  }
  .passive-subtitle{
    font-size: 15.5201px;
    line-height: 17px;
  }
  .passive-title{
    font-size: 23.1893px;
    line-height: 25.5px;
  }
  }

  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) { 
    .title{
      font-size: 27.2523px;
      line-height: 33px;
    }
    .subtitle{
      font-size: 14.5201px;
      line-height: 14px;
    }
    .section2-title{
      font-size: 27.2523px;
      line-height: 33px;
    }
    .section2-subtitle{
      font-size: 12.5201px;
      line-height: 14px;
    }
    .section3-title-new-1{
      font-size: 24px;
      line-height: 25px;
      text-align: right !important;
    }
    .section3-subtitle-new-1{
      font-size: 13px;
      line-height: 15px;
    }
    .section3-title-new-2{
      font-size: 29.2523px;
      line-height: 34px;
    }
    .passive-subtitle{
      font-size: 19.5201px;
      line-height: 21px;
    }
    .passive-title{
      font-size: 25.1893px;
      line-height: 28px;
    }
   }
  
  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    .title{
      font-size: 35.2523px;
      line-height: 27px;
    }
    .subtitle{
      font-size: 17.5201px;
      line-height: 16px;
    }
    .section2-title{
      font-size: 35.2523px;
      line-height: 33px;
    }
    .section2-subtitle{
      font-size: 14.5201px;
      line-height: 17px;
    }
    .section3-title-new-1{
      font-size: 26px;
      line-height: 27px;
    }
    .section3-subtitle-new-1{
      font-size: 15px;
      line-height: 17px;
    }
    .section3-title-new-2{
      font-size: 33.2523px;
      line-height: 38px;
    }
    .passive-subtitle{
      font-size: 23.5201px;
      line-height: 25px;
    }
    .passive-title{
      font-size: 28.1893px;
      line-height: 30.5px;
    }
   }
  
  /* // X-Large devices (large desktops, 1200px and up) */

  
  /* // XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1200px) { 
    .title{
      font-size: 41.1037px;
      line-height: 45px;
    }
    .subtitle{
      font-size: 17.2342px;
      line-height: 18px;
    }
    .section2-title{
      font-size: 41.2523px;
      line-height: 38px;
    }
    .section2-subtitle{
      font-size: 12.5201px;
      line-height: 19px;
    }
    .section3-title-new-1{
      font-size: 28px;
      line-height: 30px;
    }
    .section3-subtitle-new-1{
      font-size: 17px;
      line-height: 19px;
    }
    .section3-title-new-2{
      font-size: 37.2523px;
      line-height: 41px;
    }
    .passive-subtitle{
      font-size: 27.5201px;
      line-height: 29px;
    }
    .passive-title{
      font-size: 30.1893px;
      line-height: 32px;
    }
   }

   @media (min-width: 1400px) { 
    .title{
      font-size: 45.1037px;
      line-height: 47px;
    }
    .subtitle{
      font-size: 20.2342px;
      line-height: 20px;
    }
    .section2-title{
      font-size: 45.2523px;
      line-height: 33px;
    }
    .section2-subtitle{
      font-size: 18.5201px;
      line-height: 21px;
    }
    .section3-title-new-1{
      font-size: 30px;
      line-height: 32px;
    }
    .section3-subtitle-new-1{
      font-size: 19px;
      line-height: 23px;
    }
    .section3-title-new-2{
      font-size: 41.2523px;
      line-height: 44px;
    }
    .passive-subtitle{
      font-size: 31.5201px;
      line-height: 33px;
    }
    .passive-title{
      font-size: 33.1893px;
      line-height: 35px;
    }
   }