body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Druk Wide',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Clash Display Bold;
  src: url("./ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Bold.ttf");
}
@font-face {
  font-family: Clash Display Light;
  src: url("./ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Light.ttf");
}
@font-face {
  font-family: Clash Display ExtraLight;
  src: url("./ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Extralight.ttf");
}
@font-face {
  font-family: Clash Display Bold;
  src: url("./ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Bold.ttf");
}
@font-face {
  font-family: Clash Display Medium;
  src: url("./ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Medium.ttf");
}
@font-face {
  font-family: Druk Wide Bold; 
  src: url("./Druk_Collection/Druk\ Wide\ Family/DrukWide-Bold-Trial.otf");
}
@font-face {
  font-family: Druk Wide Medium; 
  src: url("./Druk_Collection/Druk\ Wide\ Family/DrukWide-Medium-Trial.otf");
}
@font-face {
  font-family: Druk Wide Italic; 
  src: url("./Druk_Collection/Druk\ Wide\ Family/DrukWide-SuperItalic-Trial.otf");
}


  /* // Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) { 
  
  }
  
  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) { 
    
   }
  
  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    
   }
  
  /* // X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) { 
    
   }
  
  /* // XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) { 
    
   }